.button-one,
.button-two {
    font-size: 28px; 
}

.button-one {
    background-color: black; color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.button-two {
    background-color: yellow;
    font-family: 'Times New Roman', Times, serif;
}