.element-one {
background-color: rgb(241, 129, 195); 
font-family: Verdana, sans-serif; font-size: 24px;
}

#element-two {
    color: rgb(56, 59, 236);
    font-size: 36px;
}

.element-three {
    background-color: rgb(233, 132, 182); font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#element-four {
    background-color: rgb(82, 238, 95);
    font-size: 24px; font-weight: bold;
}

.element-five {
    background-color: rgb(233, 132, 182); font-size: 24px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
